<div style="display: flex; justify-content: center; padding-bottom: 2rem;">
    <img style="display: block;-webkit-user-select: none;margin: auto;background-color: none;transition: background-color 300ms;" src="https://cdn.hackpnw.org/Graphics/Orca.228e1736.png" width="200">
</div>

<p><%= name %> just signed the waiver!! We have attached the PDF for you to manually review.</p>

