<p>
  Hi!

  Thank you for completing the waiver! Your child is now set to attend AngelHacks Toronto!

  We have sent an email with some more information to your child and will be sending you an email shortly.


</p>